#winnermatches {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  text-align: center;
  background-color: #171717;
  color: #b1acac;
  font-size: medium;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.betdiv {
  background-color: #2d2f40;
  width: 90%;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
  color: #b1acac;
  border-radius: 10px;
}

.betdiv2 {
  background-color: #2d2f40;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
  color: #b1acac;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .betdiv {
    width: 600px;
  }
}
.bettitle {
  text-align: left;
  margin: 0;
}
.bettitlediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr {
  border: 1px solid black;
}
.fbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: large;
}
.rbox {
  flex: 0 40%;
  padding: 0.25em;
  align-items: center;
  background-color: #121219;
  margin-bottom: 0.25em;
}
.rbox:hover {
  background-color: #59597d;
}
.radiobtn {
  display: none;
}
.radiobtn:checked+label {
  background-color: #59597d;
  font-weight: bold;
}
.wagerinput {
  background-color: #171419;
  color: #b1acac;
  border: none;
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
  width: 50%;
}
.wagerdiv {
  background-color: #272129;
  font-weight: bold;
  flex: 0 40%;
  padding: 0.25em;
}
.wagerlabel {
  width: 50%;
  display: inline-block;
}
.xbox {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}
.betbutton {
  min-width: 85%;
  background-color: #445f25;
  border: none;
  height: 3em;
  font-size: large;
  font-weight: bold;
  color: inherit;
}
.betbutton:hover {
  background-color: #5c8034;
}
.betbutton:disabled {
  background-color: #de5151;
}
a.button {
  text-decoration: none;
  padding: 0.5em 1em;
  margin-left: 0.5em;
  display: inline-block;
  position: relative;
  text-shadow: none;
  background: #9146FF;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
}

#bethistorydiv {
  display: none;
  max-width: 600px;
  margin: auto;
}

#privacydiv {
  display: none;
  margin: auto;
}

#extrasdiv {
  display: none;
  margin: auto;
}
.accordion {
  background-color: #a9b2c5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.selectedAccordion, .accordion:hover {
  background-color: #ccc;
}
.accordioncontent {
  height: 1px;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: #777;
  float: right;
  margin-left: 5px;
}

.selectedAccordion:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.betgreen {
  color: #83d483;
}
.betred {
  color: #de5151;
}
.betgray {
  color: #5a5858;
}
.betstatus {
  float: right;
  font-size: xx-large;
}
.winbethistory {
  color: black;
  padding: 1em;
  text-align: left;
  border-style: solid;
  border-width: thin;
  font-size: large;
}
.bettedplayer {
  font-weight: bold;
  text-decoration: underline;
}

#mainContent {
  margin: auto;
  flex: 1;
}

.maxwidth {
    max-width: 900px;
}
header {
  position: sticky;
  top: 0;
  background-color: #1f2240;
}

footer {
  background-color: #1f2240;
  padding: 0.5em;
  flex-shrink: 0;
}
footer > div {
  justify-content: space-evenly;
  margin: auto;
}

#headercontent {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  margin: auto;
  align-items: center;
  margin: auto;
  padding: 0.5em;
}
#headernavigation {
  margin: auto;
}
.mainlogo {
  text-decoration: none;
  padding: 0.5em 1em;
  margin-left: 0.5em;
  display: inline-block;
  text-shadow: none;
  background: #d0d0d0;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
}
#allcontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.msgGood {
  padding: 1em;
  color: white;
  background-color: #2b7f16;
  margin-bottom: 1em;
}
.msgBad {
  padding: 1em;
  color: white;
  background-color: #bf382e;
  margin-bottom: 1em;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
#msgDiv {
  z-index: 50;
  position: fixed;
  right: 1em;
  bottom: 1em;
}
