<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuzer bet</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body onload="updateData()">
    <h1>Welcome to fuzerbet.</h1>
    {% load socialaccount %}

    {% if user.is_authenticated %}
    <p>
      LOGGED IN as {{ user }} <br />
      YOU HAVE <span id="points"></span> points
    </p>

    <h3>BETTING OPEN FOR:</h3>
    <div id="winnermatches">
    </div>
    <h3>BET HISTORY</h3>
    <div id="winnerbets">
    </div>
    <script>
    let odds = {};
      function updateData() {
        $.ajax({url: "userUpdate", success: function(result){
          handleData(result);
        }});
      }

      function handleData(data) {
          $("#points").text(data.points);
          createWinnerMatches(data.winnermatches);
          createWinnerMatchBets(data.winnerbets);
          $(".wagerinput").attr({"max": data.points});
      }

      function winnerBet(match) {
        let winner = $("#1radio-"+match+" input[type='radio']:checked").val();
        let points = $('#points-'+match).val();
        $.ajax({url: `winnerBet?match=${match}&winner=${winner}&points=${points}`, success: function(result){
          updateData();
        }});
      }

      function updateWinnerBet(match) {
        let winner = parseInt($("#1radio-"+match+" input[type='radio']:checked").val()) - 1;
        let points = parseInt($('#points-'+match).val());
        $('#payout-'+match).text((odds[match][winner]*points).toFixed(2));
      }
      function createWinnerMatches(matches) {
        let wmatches = []
        for (const m in matches) {
          const match = matches[m];
          wmatches.push(match.id);
          if ($('#winbetdiv-'+match.id).length) {
            continue
          }
          odds[match.id] = [parseFloat(match.player1odds), parseFloat(match.player2odds)];
          let radiop = $('<p>Select winner</p>')
          let radio1 = $('<label>'+match.player1+'('+match.player1odds+')</label><input type="radio" checked="checked" name="radio-'+match.id+'" value="'+1+'">');
          let radio2 = $('<label>'+match.player2+'('+match.player2odds+')</label><input type="radio" name="radio-'+match.id+'" value="'+2+'">');
          var btn = $('<button/>', {
            text: 'BET',
            onclick: 'winnerBet('+match.id+')'
          });
          let betdiv = $('<div onchange="updateWinnerBet('+match.id+')" class="winbet" id="winbetdiv-'+match.id+'"></div>');

          let radiodiv = $('<div id="1radio-'+match.id+'" class="radiodiv"></div>');

          let pointInput = $('<div class="radiodiv"><label>Wager</label><input type="number" class="wagerinput" id="points-'+match.id+'" value="1" min="1"></div>');
          let payout = $('<span>You can win: </span><span id="payout-'+match.id+'"></span>');
          radiodiv.append(radio1);
          radiodiv.append(radio2);
          betdiv.append(radiodiv);
          betdiv.append(pointInput);
          betdiv.append(payout)
          betdiv.append(btn);
          $("#winnermatches").append(betdiv);
          updateWinnerBet(match.id);
        }
        $('#winnermatches').children('div').each(function () {
            if (!wmatches.includes(parseInt(this.id.split('-')[1]))) this.remove();
        });
      }

      function createWinnerMatchBets(bets) {
        $("#winnerbets").empty();
        for (const b in bets) {
          const bet = bets[b];
          const text = $(`<div class="winbethistory"><p>${bet.player1} VS ${bet.player2} | Bet on ${bet.guess} | Payout ${bet.points} | Resolved ${bet.resolved} | Win ${bet.winner === bet.guess}</p></div>`);
          $("#winnerbets").append(text);
        }
      }
    </script>
    {% else %}
    PLS LOG IN via <a href="{% provider_login_url "twitch" next="/" %}">Twitch</a>
    {% endif %}
</body>
</html>
