<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuzer bet beta v0.000001.1.0001</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body>
    {% load socialaccount %}

    {% if user.is_authenticated %}
    <header>
      <div id="headercontent" class="maxwidth">
        <a href="/" class="mainlogo">Fuzerbetlogo</a>
        <span>Pisteet: <span id="points"></span></span>
      </div>
      <div id="headernavigation" class="maxwidth">
        <div class="fbox" id="topmenu">
          <input type="radio" id="menu1" class="radiobtn" name="menu" value="1" onchange="menuToggle(1);" checked>
          <label class="rbox" for="menu1"><span>Avoimet kohteet</span></label>

          <input type="radio" id="menu2" class="radiobtn" name="menu" value="2" onchange="menuToggle(2);">
          <label class="rbox" for="menu2"><span>Veikkaushistoria</span></label>

          <input type="radio" id="menu5" class="radiobtn" name="menu" value="5" onchange="menuToggle(5);">
          <label class="rbox" for="menu5"><span>Pistetilastot</span></label>

          <input type="radio" id="menu4" class="radiobtn" name="menu" value="4" onchange="menuToggle(4);">
          <label class="rbox" for="menu4"><span>Lisätoiminnot</span></label>
        </div>
      </div>
    </header>
    {% else %}
    <header>
      <div id="headercontent" class="maxwidth">
        <a href="/" class="mainlogo">Fuzerbetlogo</a>
        <a href="{% provider_login_url "twitch" next="/" %}" class="button">Twitch-login</a>
      </div>
    </header>
    {% endif %}

    <div id="mainContent" class="maxwidth">
      <div id="msgDiv">
      </div>
      <div id="winnermatchescontainer">
        {% if user.is_authenticated %}
        <h3>Avoimet kohteet:</h3>
        <div id="winnermatches">
        </div>
        {% else %}
        <p>Kirjaudu sisään käyttämällä Twitch-tiliäsi:<br /><br /> <a href="{% provider_login_url "twitch" next="/" %}" class="button">Twitch</a>
        {% endif %}
      </div>
      <div id="bethistorydiv">
        {% if user.is_authenticated %}
        <!--<button id="bethistoryaccordion" class="accordion" onclick="toggleAccordion()">Veikkaushistoria</button>
        <div id="winnerbets" class="accordioncontent">-->
        <h3>Veikkaushistoria:</h3>
        <div id="winnerbets">
        </div>
        {% endif %}
      </div>
      <div id="privacydiv">
        <h3>Yksityisyystietoa</h3>
        <h4>Evästeet</h4>
        <p>Sivusto käyttää evästeitä ainoastaan sivuston teknisessä toiminnassa. Emme käytä seuranta- tai markkinointievästeitä. Kirjautumalla sisään hyväksyt evästeiden käytön.
        </p>
        <h4>Keräämämme tiedot</h4>
        <p>Kirjautuessasi sisään Twitch välittää sivustolle käyttäjätietojasi. Tallennamme ainoastaan käyttäjänimesi.</p>
        <p>Käyttäjänimesi voi näkyä muille käyttäjille ja livelähetyksessä, mikäli olet korkealla pistesijoituksessa. Käyttäjänimeä käytetään palkintojen toimittamiseen Twitch-viestien kautta.
        </p>
        <p>Käyttäjätiedot poistetaan kohtuullisen ajan kuluessa kilpailun loputtua.
        </p>
      </div>
      <div id="extrasdiv">
        <br />
        <div class="betdiv">
          <p>
            Aloita veikkausurasi alusta. Nollaa pisteesi ja vetosi. Huom! Ei peruttavissa.
          </p>
          <input type="checkbox" id="resetCheck" onchange="toggleResetButton()">Ymmärrän että pisteeni nollautuu ja en voi perua toimintoa.</input>
          <br />
          <button class="betbutton" id="resetButton" onclick="resetUser()" disabled>Aloita alusta</button>
        </div>

      </div>
      <div id="rankingdiv">
        Ladataan tietoja...
      </div>
    </div>

    <footer>
      <div class="maxwidth">
          <input type="radio" id="menu3" class="radiobtn" name="menu" value="3" onchange="menuToggle(3)">
          <label class="rbox" for="menu3"><span>Yksityisyystiedot</span></label>
      </div>

    </footer>
    <script>
      let odds = {};
      let username = "{{ user.username }}";
      console.log(username)
      {% if user.is_authenticated %}
      $(document).ready(function() {
        updateData();
      });
      function updateData() {
        $.ajax({url: "userUpdate", success: function(result){
          handleData(result);
        }});
        $.ajax({url: "rankingUpdate", success: function(result){
          updateRankings(result);
        }});
      }

      function handleData(data) {
          $("#points").text(data.points);
          createWinnerMatches(data.winnermatches);
          createWinnerMatchBets(data.winnerbets);
          $(".wagerinput").attr({"max": data.points});
      }

      function updateRankings(data) {
        $('#rankingdiv').empty();
        for (let i = 0; i < data.rankings.length; i++) {
          if (data.rankings[i].name === username) {
            const row = $(`<div class="ranklistdiv highlightrow"><span class="ranknumber">${i+1}</span><span>${data.rankings[i].name}</span><span>${data.rankings[i].points} pistettä</span></div>`);
            $('#rankingdiv').append(row);
          } else {
            const row = $(`<div class="ranklistdiv"><span class="ranknumber">${i+1}</span><span>${data.rankings[i].name}</span><span>${data.rankings[i].points} pistettä</span></div>`);
            $('#rankingdiv').append(row);
          }
        }
      }

      function winnerBet(match) {
        let winner = $("#1radio-"+match+" input[type='radio']:checked").val();
        let points = $('#points-'+match).val();
        $.ajax({url: `winnerBet?match=${match}&winner=${winner}&points=${points}`, success: function(result){
          updateData();
          addMessage(result.good, result.msg);
        }});
      }

      function winnerBet2(match) {
        let winner = $("#2radio-"+match+" input[type='radio']:checked").val();
        let points = $('#points2-'+match).val();
        $.ajax({url: `winnerBet?match=${match}&result=${winner}&points=${points}`, success: function(result){
          updateData();
          addMessage(result.good, result.msg);
        }});
      }

      function updateWinnerBet(match) {
        let winner = parseInt($("#1radio-"+match+" input[type='radio']:checked").val()) - 1;
        let points = parseFloat($('#points-'+match).val());
        let max = parseFloat($('#points-'+match).attr('max'));
        if (points > max) {
          points = max;
          $('#points-'+match).val(max);
        }
        if (points < 0) {
          points = 0.00;
          $('#points-'+match).val(0.00);
        }
        $('#payout-'+match).val((odds[match][winner]*points).toFixed(2));
      }

      function updateWinnerBet2(match) {
        let winner = parseInt($("#2radio-"+match+" input[type='radio']:checked").val());
        let points = parseFloat($('#points2-'+match).val());
        let max = parseFloat($('#points2-'+match).attr('max'));
        if (points > max) {
          points = max;
          $('#points2-'+match).val(max);
        }
        if (points < 0) {
          points = 0.00;
          $('#points2-'+match).val(0.00);
        }
        $('#payout2-'+match).val((odds[`b-${match}`][winner]*points).toFixed(2));
      }

      function createWinnerMatches(matches) {
        let wmatches = []
        for (const m in matches) {
          const match = matches[m];
          wmatches.push(match.id);
          if ($('#winbetdiv-'+match.id).length) {
            continue
          }
          odds[match.id] = [parseFloat(match.player1odds), parseFloat(match.player2odds)];
          let betdiv = $(`<div class="betdiv" onchange="updateWinnerBet(${match.id})" id="winbetdiv-${match.id}">
            <p class="bettitle">${match.title}<br />
            ${match.player1} - ${match.player2}</p>
            <hr />
            <div class="fbox" id="1radio-${match.id}">
              <input type="radio" id="radio-${match.id}-1" class="radiobtn" name="radio-${match.id}" value="1" checked>
              <label class="rbox" for="radio-${match.id}-1"><span>${match.player1} (${match.player1odds})</span></label>

              <input type="radio" id="radio-${match.id}-2" class="radiobtn" name="radio-${match.id}" value="2">
              <label class="rbox" for="radio-${match.id}-2"><span>${match.player2} (${match.player2odds})</span></label>

            </div>
            <div class="fbox">
              <div class="wagerdiv">
                <label class="wagerlabel" for="points-${match.id}">Veto:</label><input type="number" class="wagerinput" id="points-${match.id}" value="1.00" min="0" step="0.01" />
              </div>
              <div class="wagerdiv">
                <label class="wagerlabel" for="payout-${match.id}">Voitto:</label><input type="number" class="wagerinput" id="payout-${match.id}" value="1.00" disabled />
              </div>
            </div>
            <button class="betbutton" onclick="winnerBet(${match.id})">Aseta veto</button>
          </div>`);
          $("#winnermatches").append(betdiv);
          updateWinnerBet(match.id);
          if (match.bestof === 0) continue;

          let wdiv = '';
          if (match.bestof === 3){
            odds[`b-${match.id}`] = [parseFloat(match.resW0), parseFloat(match.resW1), parseFloat(match.resL1), parseFloat(match.resL0)];
            wdiv = `<input class="radiobtn" id="radio2-${match.id}-0" type="radio" name="radio2-${match.id}" value="0" checked><label for="radio2-${match.id}-0" class="rbox">
            <span>2-0 (${match.resW0})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-3" type="radio" name="radio2-${match.id}" value="3"><label for="radio2-${match.id}-3" class="rbox">
            <span>0-2 (${match.resL0})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-1" type="radio" name="radio2-${match.id}" value="1"><label for="radio2-${match.id}-1" class="rbox">
            <span>2-1 (${match.resW1})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-2" type="radio" name="radio2-${match.id}" value="2"><label for="radio2-${match.id}-2" class="rbox">
            <span>1-2 (${match.resL1})</span></label>`
          } else if (match.bestof === 5) {
            odds[`b-${match.id}`] = [parseFloat(match.resW0), parseFloat(match.resW1), parseFloat(match.resW2), parseFloat(match.resL2), parseFloat(match.resL1), parseFloat(match.resL0)];
            wdiv = `<input class="radiobtn" id="radio2-${match.id}-0" type="radio" name="radio2-${match.id}" value="0" checked><label for="radio2-${match.id}-0" class="rbox">
            <span>3-0 (${match.resW0})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-5" type="radio" name="radio2-${match.id}" value="5"><label for="radio2-${match.id}-5" class="rbox">
            <span>0-3 (${match.resL0})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-1" type="radio" name="radio2-${match.id}" value="1"><label for="radio2-${match.id}-1" class="rbox">
            <span>3-1 (${match.resW1})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-4" type="radio" name="radio2-${match.id}" value="4"><label for="radio2-${match.id}-4" class="rbox">
            <span>1-3 (${match.resL1})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-2" type="radio" name="radio2-${match.id}" value="2"><label for="radio2-${match.id}-2" class="rbox">
            <span>3-2 (${match.resW2})</span></label>
            <input class="radiobtn" id="radio2-${match.id}-3" type="radio" name="radio2-${match.id}" value="3"><label for="radio2-${match.id}-3" class="rbox">
            <span>2-3 (${match.resL2})</span></label>`
          } else if (match.bestof === 7) {
            odds[`b-${match.id}`] = [parseFloat(match.resW0), parseFloat(match.resW1), parseFloat(match.resW2), parseFloat(match.resW3), parseFloat(match.resL3), parseFloat(match.resL2), parseFloat(match.resL1), parseFloat(match.resL0)];
            wdiv = `<input class="radiobtn" type="radio" id="radio2-${match.id}-0" name="radio2-${match.id}" value="0" checked><label for="radio2-${match.id}-0" class="rbox">
            <span>4-0 (${match.resW0})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-7" name="radio2-${match.id}" value="7"><label for="radio2-${match.id}-7" class="rbox">
            <span>0-4 (${match.resL0})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-1" name="radio2-${match.id}" value="1"><label for="radio2-${match.id}-1" class="rbox">
            <span>4-1 (${match.resW1})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-6" name="radio2-${match.id}" value="6"><label for="radio2-${match.id}-6" class="rbox">
            <span>1-4 (${match.resL1})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-2" name="radio2-${match.id}" value="2"><label for="radio2-${match.id}-2" class="rbox">
            <span>4-2 (${match.resW2})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-5" name="radio2-${match.id}" value="5"><label for="radio2-${match.id}-5" class="rbox">
            <span>2-4 (${match.resL2})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-3" name="radio2-${match.id}" value="3"><label for="radio2-${match.id}-3" class="rbox">
            <span>4-3 (${match.resW3})</span></label>
            <input class="radiobtn" type="radio" id="radio2-${match.id}-4" name="radio2-${match.id}" value="4"><label for="radio2-${match.id}-4" class="rbox">
            <span>3-4 (${match.resL3})</span></label>`
          }
          let betdiv2 = $(`<div class="betdiv" onchange="updateWinnerBet2(${match.id})" id="winbetdiv2-${match.id}">
            <p class="bettitle">${match.title}<br />
            ${match.player1} - ${match.player2}</p>
            <hr />
            <div class="fbox" id="2radio-${match.id}">
              ${wdiv}
            </div>
            <div class="fbox">
              <div class="wagerdiv">
                <label class="wagerlabel" for="points2-${match.id}">Veto:</label><input type="number" class="wagerinput" id="points2-${match.id}" value="1.00" min="0" step="0.01" />
              </div>
              <div class="wagerdiv">
                <label class="wagerlabel" for="payout2-${match.id}">Voitto:</label><input type="number" class="wagerinput" id="payout2-${match.id}" value="1.00" disabled />
              </div>
            </div>
            <button class="betbutton" onclick="winnerBet2(${match.id})">Aseta veto</button>
          </div>`);
          $("#winnermatches").append(betdiv2);
          updateWinnerBet2(match.id);
        }
        $('#winnermatches').children('div').each(function () {
            if (!wmatches.includes(parseInt(this.id.split('-')[1]))) this.remove();
        });
      }

      function createWinnerMatchBets(bets) {
        $('#winnerbets').empty();
        for (const b in bets) {
          const bet = bets[b];
          let tila = 'Odottaa tulosta';
          let color = 'betgray';
          if (bet.resolved) {
            color = bet.won ? 'betgreen' : 'betred';
            tila = bet.won ? 'Voitto' : 'Tappio';
          }

          let resultguess = bet.player1;
          if (bet.guess === 2) resultguess = bet.player2;
          if (bet.resultBet) {
            if (bet.bestof === 3){
              if (bet.result === 0) resultguess = '2-0';
              else if (bet.result === 1) resultguess = '2-1';
              else if (bet.result === 2) resultguess = '1-2';
              else if (bet.result === 3) resultguess = '0-2';
            } else if (bet.bestof === 5) {
              if (bet.result === 0) resultguess = '3-0';
              else if (bet.result === 1) resultguess = '3-1';
              else if (bet.result === 2) resultguess = '3-2';
              else if (bet.result === 3) resultguess = '2-3';
              else if (bet.result === 4) resultguess = '1-3';
              else if (bet.result === 5) resultguess = '0-3';
            } else if (bet.bestof === 7) {
              if (bet.result === 0) resultguess = '4-0';
              else if (bet.result === 1) resultguess = '4-1';
              else if (bet.result === 2) resultguess = '4-2';
              else if (bet.result === 3) resultguess = '4-3';
              else if (bet.result === 4) resultguess = '3-4';
              else if (bet.result === 5) resultguess = '2-4';
              else if (bet.result === 6) resultguess = '1-4';
              else if (bet.result === 7) resultguess = '0-4';
            }
          }

          const betdiv = $(`<div class="betdiv2"><div>
          <span class="betstatus ${color}">●</span>
          <p class="bettitle">${bet.title}<br />
          ${bet.player1} - ${bet.player2}</p>

          <hr />
          <p class="bettitle">
          Tila: ${tila} <br />
          Veikkaus: <span class="bettedplayer">${resultguess}</span> <br />
          Voittosumma: <span class="bettedplayer">${bet.payout}</span></p>
          </div>`);

          $("#winnerbets").prepend(betdiv);
        }
      }

      function toggleAccordion() {
        $('#bethistoryaccordion').toggleClass('selectedAccordion');
        $('html,body').animate({
          scrollTop: $("#bethistoryaccordion").offset().top
        });
        let disp = $('#winnerbets').css('height');
        if (disp === "1px") {
          $('#winnerbets').css('height', 'auto');
        } else {
          $('#winnerbets').css('height', '1px');
        }
      }

      function resetUser() {
        $.ajax({url: 'resetUser', success: function(result){
          updateData();
          addMessage(result.good, result.msg);
        }});
      }

      function toggleResetButton() {
        if ($("#resetCheck").is(':checked')) $("#resetButton").removeAttr("disabled");
        else $("#resetButton").attr("disabled", true);
      }

      function addMessage(good, text) {
        const goodbad = good ? "msgGood" : "msgBad";
        const msg = $(`<div class="${goodbad}">
          <span class="closebtn" onclick="this.parentElement.remove();">&times;</span>
          <span>${text}</span>
        </div>`);
        $("#msgDiv").prepend(msg);
        setTimeout(function() {
          msg.remove();
        }, 10000);
      }
      {% endif %}
      function menuToggle(menu) {
        //let menu = $("#topmenu input[type='radio']:checked").val();
        hideScreens();
        if (menu === 1) {
          $('#winnermatchescontainer').css('display', 'block');
        } else if (menu === 2) {
          $('#bethistorydiv').css('display', 'block');
        } else if (menu === 3) {
          $('#privacydiv').css('display', 'block');
        } else if (menu === 4) {
          $('#extrasdiv').css('display', 'block');
        } else if (menu === 5) {
          $('#rankingdiv').css('display', 'block');
        }
        window.scroll({
          top: 0,
          left: 0,
          behavior: 'smooth'
        });
      }

      function hideScreens() {
        $('#bethistorydiv').css('display', 'none');
        $('#winnermatchescontainer').css('display', 'none');
        $('#privacydiv').css('display', 'none');
        $('#extrasdiv').css('display', 'none');
        $('#rankingdiv').css('display', 'none');
      }
    </script>
</body>
</html>
