<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuzer bet beta v0.000001.1.0001</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Fuzerbet</h1>
    {% load socialaccount %}

    {% if user.is_authenticated %}
    <p>
      Nimi: {{ user }} <br />
      Sinulla on <span id="points"></span> leikkipenniä.
    </p>

    <h3>Avoimet kohteet:</h3>
    <div id="winnermatches">
    </div>
    <div id='bethistorydiv'>
      <button id="bethistoryaccordion" class="accordion" onclick="toggleAccordion()">Veikkaushistoria</button>
      <div id="winnerbets" class="accordioncontent">
      </div>
    </div>
    <script>
      let odds = {};

      $(document).ready(function() {
        updateData();
      });
      function updateData() {
        $.ajax({url: "userUpdate", success: function(result){
          handleData(result);
        }});
      }

      function handleData(data) {
          $("#points").text(data.points);
          createWinnerMatches(data.winnermatches);
          createWinnerMatchBets(data.winnerbets);
          $(".wagerinput").attr({"max": data.points});
      }

      function winnerBet(match) {
        let winner = $("#1radio-"+match+" input[type='radio']:checked").val();
        let points = $('#points-'+match).val();
        $.ajax({url: `winnerBet?match=${match}&winner=${winner}&points=${points}`, success: function(result){
          updateData();
        }});
      }

      function updateWinnerBet(match) {
        let winner = parseInt($("#1radio-"+match+" input[type='radio']:checked").val()) - 1;
        let points = parseInt($('#points-'+match).val());
        let max = parseInt($('#points-'+match).attr('max'));
        if (points > max) {
          points = max;
          $('#points-'+match).val(max);
        }
        $('#payout-'+match).text(Math.floor(odds[match][winner]*points));
      }
      function createWinnerMatches(matches) {
        let wmatches = []
        for (const m in matches) {
          const match = matches[m];
          wmatches.push(match.id);
          if ($('#winbetdiv-'+match.id).length) {
            continue
          }
          odds[match.id] = [parseFloat(match.player1odds), parseFloat(match.player2odds)];
          let betdiv = $(`<div class="betdiv" onchange="updateWinnerBet(${match.id})" id="winbetdiv-${match.id}">
            <h4>${match.title}</h4>
            <div class="fbox" id="1radio-${match.id}">
              <label class="rbox">
              <input type="radio" name="radio-${match.id}" value="1" checked>
              <span>${match.player1} (${match.player1odds})</span></label>
              <label class="rbox">
              <input type="radio" name="radio-${match.id}" value="2">
              <span>${match.player2} (${match.player2odds})</span></label>
            </div>
            <div class="xbox">
              <label><span>Veto: </span><input type="number" class="wagerinput" id="points-${match.id}" value="1" min="1" /><span> leikkipenniä</span></label>

            </div>
            <div class="xbox">
              <span>Voitto: <span id="payout-${match.id}"></span> leikkipenniä</span>
              <button class="betbutton" onclick="winnerBet(${match.id})">Aseta veto</button>
            </div>
          </div>`);
          $("#winnermatches").append(betdiv);
          updateWinnerBet(match.id);
        }
        $('#winnermatches').children('div').each(function () {
            if (!wmatches.includes(parseInt(this.id.split('-')[1]))) this.remove();
        });
      }

      function createWinnerMatchBets(bets) {
        $('#winnerbets').empty();
        for (const b in bets) {
          const bet = bets[b];
          const text = $(`<div class="winbethistory"><p>${bet.player1} VS ${bet.player2} | Veikkasit ${bet.guess===1?bet.player1:bet.player2} ${bet.points} pennillä | Leikkipennejä tulossa ${bet.payout} | Ratkennut ${bet.resolved} | Voitit ${bet.winner === bet.guess}</p></div>`);
          $("#winnerbets").append(text);
        }
      }

      function toggleAccordion() {
        $('#bethistoryaccordion').toggleClass('selectedAccordion');
        $('html,body').animate({
          scrollTop: $("#bethistoryaccordion").offset().top
        });
        let disp = $('#winnerbets').css('height');
        if (disp === "1px") {
          $('#winnerbets').css('height', 'auto');
        } else {
          $('#winnerbets').css('height', '1px');
        }
      }
    </script>
    {% else %}
    Log in with <a href="{% provider_login_url "twitch" next="/" %}" class="button">Twitch</a>
    {% endif %}
</body>
</html>
