<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuzer bet</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stream.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body onload="updateData()">
    <script>

      function updateData() {
        $.ajax({url: "rankingUpdate", success: function(result){
          handleData(result);
        }});
      }

      function handleData(data) {
        for (value in data.rankings) {
          console.log(data.rankings[value])
          const text = $(`<p>${parseInt(value)+1}: ${data.rankings[value].name} - ${data.rankings[value].points} leikkipenniä</p>`);
          $("body").append(text);
        }
      }
    </script>
</body>
</html>
