<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuzer bet</title>
    <style>
      body {
        font-size: x-large;
        width: 600px;
        color: #b1acac;
      }
      .ranklistdiv {
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: solid;
        background: #1f2240;
      }
		</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body onload="updateData()">
  <div id="rankdiv">

  </div>

  <script>
    var intervalID = window.setInterval(updateData, 8000);

    function updateData() {
      $.ajax({url: "rankingUpdate", success: function(result){
        handleData(result);
      }});
    }

    function handleData(data) {
      $('#rankdiv').empty();
      for (let i = 0; i < data.rankings.length; i++) {
        const row = $(`<div class="ranklistdiv"><span class="ranknumber">${i+1}</span><span>${data.rankings[i].name}</span><span>${data.rankings[i].points} pistettä</span></div>`);
        $('#rankdiv').append(row);
      }
    }
  </script>
</body>
</html>
