<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuzer bet</title>
    <style>
      tr:nth-child(odd) {
        background-color: #918fc3;
      }
      table {
        background-color: #b4b2e0;
      }
      th {
        text-align: center;
      }
      td {
        text-align: center;
      }
      body {
        font-size: large;
      }
		</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body onload="updateData()">
  <table>
  <colgroup>
    <col style="width:48px">
    <col style="width:96px">
    <col style="width:240px">
  </colgroup>
    <tr>
      <th>#</th>
      <th>Pisteet</th>
      <th>Nimi</th>
    </tr>
  </table>

  <script>

    function updateData() {
      $.ajax({url: "rankingUpdate", success: function(result){
        handleData(result);
      }});
    }

    function handleData(data) {
      $('tr').slice(1).remove();
      for (value in data.rankings) {
        const row = $(`<tr>
          <td>${parseInt(value)+1}</td><td>${data.rankings[value].points}</td><td>${data.rankings[value].name}</td>
          </tr>`);
        $("table").append(row);
      }
    }
  </script>
</body>
</html>
